## **Problema 1**
Escribe una función que reciba como parámetro una cadena de texto y como resultado imprima la cadena en mayúsculas.

cadena = "Armando Escándalos escribe este código, aquel código y el mismo código"

In [ ]:
cadena = "Armando Escándalos escribe este código, aquel código y el mismo código"

def mayusculas(cadena):

  print(cadena.upper())
  print(cadena.lower())

mayusculas(cadena)

ARMANDO ESCÁNDALOS ESCRIBE ESTE CÓDIGO, AQUEL CÓDIGO Y EL MISMO CÓDIGO
armando escándalos escribe este código, aquel código y el mismo código

## **Problema 2**
Escribe una función que reciba dos parámetros: un texto y una letra. La función deberá imprimir la cadena, pero en cada letra diferente de “letra” deberá escribir asteriscos.

Ejemplo:

cadena = "Esta cadena de texto será modificada"

letra = "a"

la función debe imprimir

***a**a***a**********************a*a

In [ ]:
cadena = "Esta cadena de texto será modificada"
letra = "a"

def reemplazar_letra(cadena, letra):

  cadena_nueva = ""

  for caracter in cadena:
    
    if caracter != letra:
     #print("*")
      cadena_nueva = cadena_nueva + "*"
    else:
     #print("a")
      cadena_nueva = cadena_nueva + "a"
  
  print(cadena_nueva)

reemplazar_letra(cadena, letra)

***a**a***a**********************a*a

## **Problema 3**
Escribe una función que recibe como parámetro un texto. La función deberá eliminar todos los espacios en blanco de la cadena original.

cadena = "Esta cadena de texto no tendrá espacios en blanco"

In [ ]:
cadena = "Esta cadena de texto no tendrá espacios en blanco"

def eliminar_espacios(cadena):

  print(cadena.replace(" ", ""))

eliminar_espacios(cadena)

Estacadenadetextonotendráespaciosenblanco

## **Problema 4**
Escribe una función que recibe como parámetro la siguiente lista de alumnos, e imprima una tabla con títulos: ID, Nombre y Edad y los siguientes datos usando f-strings.

alumnos = [['1', 'Armando', 18],
                    ['2', 'Mikoko', 20],
                    ['3', 'Henry', 21],
                    ['4', 'José', 21]]

Explicación f-string

In [ ]:
nombre = "Germán"
print(f'Hola mundo:\n{nombre : ^20}')

Hola mundo:
       Germán

In [ ]:
alumnos = [['1', 'Armando', 18], ['2', 'Mikoko', 20], ['3', 'Henry', 21], ['4', 'José', 21]]

def imprimir_tabla(alumnos):

  print(f'{"ID" : <5} {"Nombre" : <10} {"Edad" : <10}')

  for alumno in alumnos:

    id, nombre, edad = alumno # asignación múltiple
    
    #print(f'{alumno[0] : <5} {alumno[1] : <10} {alumno[2] : <10}')
    print(f'{id : <5} {nombre : <10} {edad : <10}')

imprimir_tabla(alumnos)

ID    Nombre     Edad
1     Armando    18
2     Mikoko     20
3     Henry      21
4     José       21